.loading {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
}
.loading .circle,
.loading .circle:first-child {
  width: 120px;
  box-shadow: 0px 5px 10px rgb(255, 0, 221);
  height: 120px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  animation: loading 1s infinite linear;
}
.loading p {
  position: absolute;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.loading .circle:last-child {
  box-shadow: 5px 0px 10px rgb(225, 0, 255);
}

.loading .circle:nth-child(2) {
  box-shadow: 0px -5px 10px rgb(0, 238, 255);
}
.loading .circle:nth-child(3) {
    /* border:  5px solid rgb(255, 255, 255); */
  box-shadow: -5px 0px 10px rgb(0, 204, 255);
}
@keyframes loading {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
